<a href="https://colab.research.google.com/github/cheesss/python/blob/main/BIG_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
None = 10

SyntaxError: ignored

In [ ]:
num = 10

In [ ]:
5 < num < 30 #이런것도 된다.

True

In [ ]:
PI = 3.14
r = 5
v = 4/3 * PI *r**3
print(v)

523.3333333333334

In [ ]:
p=24.95
sp = p * 0.6
num = 60
basongbee = 0.75
total = (sp * num) + (basongbee*num)
print(total)

943.1999999999999

In [ ]:
not ( 300 or ( False ) )

False

In [ ]:
print("판단하고싶은 년도를 입력하시오: ")
y = float(input())
if (y%4 == 0) :
    if(y%100 == 0) :
      if (y%400 == 0):
        print(y,"는 윤년입니다.")
    else:
      print(y,"는 윤년이 아닙니다.")
else:
    print(y,"는 윤년이 아닙니다.")


#print( (year %4== 0 ) and (year %100 ≠ 0 ) (year %400 ==0)) 이렇게 요약가능하다

판단하고싶은 년도를 입력하시오:
400
400.0 는 윤년입니다.

In [ ]:
k = 80
e = 75
m = 55
avg = (k+e+m)/3
print(avg)

70.0

In [ ]:
if(13%2 == 0):
  print("13은 짝수입니다")
else:
  print("13은 홀수입니다")

13은 홀수입니다

In [ ]:
not 1+1 == y or x == 4 and 7 == 8

True

In [ ]:
print("화씨 몇도인가요?")
f=float(input())
c=(f-32)/1.8
print(f,"는 섭씨로",c," 입니다")

화씨 몇도인가요?
50
50.0 는 섭씨로 10.0  입니다

In [ ]:
print("몇 종류의 주식을 갖고있나요?")
num = int(input())
i = 1
all = 0
while i<=num:
  print(i,"번째 종목은 몇개 갖고있나요?")
  m = int(input())
  
  print(i, "번째 주식은 몇퍼센트 떨어졌나요?")
  p = float(input())

  print("이 주식은 한주에 얼마인가요?")
  v = float(input())
  all = all + v*m*((100-p)/100)
  i = i+1

print("보유한 주식 총액은 ",all,"입니다.")

몇 종류의 주식을 갖고있나요?
2
1 번째 종목은 몇개 갖고있나요?
100
1 번째 주식은 몇퍼센트 떨어졌나요?
5
이 주식은 한주에 얼마인가요?
89000
2 번째 종목은 몇개 갖고있나요?
20
1 번째 주식은 몇퍼센트 떨어졌나요?
10
이 주식은 한주에 얼마인가요?
751000
보유한 주식 총액은  21973000.0 입니다.

In [ ]:
1e15

1000000000000000.0

In [ ]:
1e16

1e+16

In [ ]:
0b10

2

In [ ]:
'''
안녕하세요
'''

#안녕하세요
#위 두문장은 같다

print("안녕 \t 안녕") #탭 입력 제어자이다

안녕 	 안녕

In [ ]:
print("  ^ ^\n(')(')\n  --")

  ^ ^
(')(')
  --

In [ ]:
num = 7
print("오늘 나는 %d 끼를 먹었습니다" % num)

오늘 나는 7 끼를 먹었습니다

In [ ]:
num = 7
print("오늘 나는 %5d 끼를 먹었습니다" % num)
#%뒤에 넣은 숫자만큼 전체 출력 자릿수를 지정할 수 있다
#

오늘 나는     7 끼를 먹었습니다

In [ ]:
num = 7
print("오늘 나는 %-5d 끼를 먹었습니다" % num)
#뒤에 공백이 생긴다

오늘 나는 7     끼를 먹었습니다

In [ ]:
person1 = '조현준'
person2 = '한채린' #채신기술 !
print(f"{person1}는 {person2}와 밥을 먹었습니다") #f string

조현준는 한채린와 밥을 먹었습니다

In [ ]:
a= "안녕"*40
print(a)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [ ]:
print("안"+"녕")

안녕

In [ ]:
sentence ="안녕하세요 조현준입니다"
sentence[2:3]   #출력하고자하는 값 +1부터 시작해야한다

'하'

In [ ]:
print("조현준" in "안녕하세요 조현준입니다")

True

In [ ]:
sentence ="안녕하세요 조현준입니다"
sentence[:]

'안녕하세요 조현준입니다'

In [ ]:
a ="hello"
print(a.upper())   #비파괴적 함수로 원본 a값은 바뀌지 않는다
print(a)

HELLO
hello

In [ ]:
a="안녕안녕하세요".rfind("안녕")
print(a)    #문장의 오른쪽부터 검색

2

In [ ]:
a="10 20 30 40".split()
print(a)      #원하는 기준으로 나누기

['10', '20', '30', '40']

In [ ]:
"ptrhon2022".isalnum() and "Python".isupper()

False

In [ ]:
print("고려대학교\t세종캠퍼스\n창립캠퍼스: 1980년\n학생 수: 7,240\n지역 : 충청남도\n색상 : 크림슨")

고려대학교	세종캠퍼스
창립캠퍼스: 1980년
학생 수: 7,240
지역 : 충청남도
색상 : 크림슨

In [ ]:
a="안녕하세요"+"파이썬"
b="요파"
if(a.find(b)):
  print(True)
else:
  print(False)

True

In [ ]:
a="안녕하세요"+"파이썬"
b="요파"
print(b in a)

True

In [ ]:
a="넌 나만 보면 매일 a busy guy 종일 할 일이 너무 많아"
print(a[12:22])

 busy guy

In [ ]:
a='Daum KaKao'
print(a[5:]+' '+a[0:4])

KaKao Daum

In [ ]:
a="Hello, Python"

print(f"{a}의 길이는 {len(a)}입니다")

Hello, Python의 길이는 13입니다

In [ ]:
a="imhungry"
print(a.isalpha())

True

In [ ]:
myStr = 'BigPy'
print(myStr.upper())
print(myStr.lower())
print(myStr.swapcase())
print(myStr.title())

BIGPY
bigpy
bIGpY
Bigpy

In [ ]:
myStr = 'Big Py, Korea University, Big Data'
myStr.rfind('Big')

26

In [ ]:
a="5969782550"
b=eval(a)*74200
print("삼성전자 시가총액은 ",b,"입니다")

삼성전자 시가총액은  442957865210000 입니다

In [ ]:
lang = 'python'
lang[0] = 'P'   #문자열은 수정이 불가능하다
print(lang)

TypeError: ignored

In [ ]:
print(list(range(1, 20, 0.8)))

TypeError: ignored

In [ ]:
#i =  0 파이썬에선 있어도 되고 없어도 된다
sum = 0
for i in range(0,7,1): #1은 생략가능 0~6동안 반복
  sum= sum + i
  print(i, sum)
  i = i + 1

0 0
1 1
2 3
3 6
4 10
5 15
6 21

In [ ]:
i = 0
sum = 0
while(i<7):
  sum = sum + i
  print(i, sum)
  i = i + 1

0 0
1 1
2 3
3 6
4 10
5 15
6 21

In [ ]:
my=input("put num: ")
#input 함수는 지정한 문장 다음 입력칸을 보여준다
#입력안내 문자를 보여준다
print("you put",my,"!")
#대신 input으로 받으면 무엇이든 문자열로 출력

put num: 1
you put 1 !

In [ ]:
my=input("put num: ")
print(my+2022)
#문자열로 받으므로 이처럼 오류가 발생한다

put num: 1

TypeError: ignored

In [ ]:
my=int(input("put num: "))
print(my+2022)
#해결!

put num: 1
2023

In [ ]:
x = -5
y = 6
print((-y)**3 + 2*(x**2)*y)

84

In [ ]:
import time
print(time.strftime('%y-%m-%d %H:%M:%S'))

a = time.strftime('%Y')
b = 2065-int(a)
print(21+b)

22-05-07 12:20:31
64

In [ ]:
a = int(input ("소금물의 양은?: "))
b = int(input ("들어간 소금의 양은?: "))
c = b/a*100
print(round(c,3))

소금물의 양은?: 12132
들어간 소금의 양은?: 121
0.997

In [ ]:
A=int(input())
B=int(input())
C=int(input())
res1 = (A+B)%C
res2 = ((A%C) + (B%C))%C
res3 = ((A%C) * (B%C))%C
print(res1 == res2, res1, res2,'\n',res3 == res1, res1, res3)

1
2
3
True 0 0
 False 0 2

In [ ]:
n1=int(input())
print(n1)

n2=int(input())
print(n2)

a=int(n2/100)
b=int((n2-a*100)/10)
c=int((n2-a*100-b*10))

n3=n1*c
print(n3)

n4=n1*b*10
print(n4)

n5=n1*a*100
print(n5)

result=n3+n4+n5
print(result)

123
123
456
456
738
6150
49200
56088

In [ ]:
a=float(input("야드값을 입력하시오:"))
b=a*91.44
print(a,"야드는",b,"cm 이다.")

야드값을 입력하시오:1
1.0 야드는 91.44 cm 이다.

In [ ]:
a=int(input("가로:"))
b=int(input("세로:"))
a=a+5
b=b*2
print(a, b, a*b)

가로:1
세로:2
6 4 24

In [ ]:
a=input("str1:")
b=input("str2:")
c=int(input("int:"))
print(b*c,a)

str1:ab
str2:AB
int:4
ABABABAB ab

In [ ]:
a=True
b=True
c=False
print( not a or (b and not c))

True

In [ ]:
take = int(input("낼 돈:"))
price = int(input("제품 가격:"))
change = take - price
if(change>0):
  a = int(change/500)
  b = int((change - 500*a)/100)
  c = int((change - 500*a - 100*b)/50)
  d = int((change - 500*a - 100*b - 50*c)/10)
  print("500원:",a,",100원:",b,",50원:",c,",10원:",d)
else:
  print("돈을 더 내야합니다")

낼 돈:10000
제품 가격:2800
500원: 14 ,100원: 2 ,50원: 0 ,10원: 0

In [ ]:
age=int(input())
if age==21:
  print("동갑입니다")
else:
  print("몇살이여?")

  #조건문에는 무조건 트루 펄스 나오는것만

100
몇살이여?

In [ ]:
a-int(input())
if(a>10000):
  print("택시타자~")
else:
  print("걸어가자...")

In [ ]:
a=int(input("얼마?:"))
if(a>=500):
  print("붕어빵 사먹자")
else:
  print("돈이 500원 미만입니다")

In [ ]:
a=int(input("얼마?:"))
if(a==500):
  print("500d원")
elif(a<500):
  print("500원 미만")
else:
  print("500원 초과!")

In [ ]:
maro="백수"
if(maro=="백수"):
  #아무것도 안할때는 pass를 반드시 추가해줘야 한다
  pass

In [ ]:
if True:
  print("1")
  print("2")
  print("3")

1
2
3

In [ ]:
score=50
if score==60:
  mae="a"
else:
  mae="b"

#두개는 같은 코드이다
mae="a" if score==60 else mae="b"

#3항 이상일때는 이용하면 가독성 하락

In [ ]:
list =["두리안", "용과", "멜론", "리치", "사과"]
a = input("과일을 입력하세용: ")
if a in list:
  print("있거덩")
else:
  print("없거덩")

과일을 입력하세용: 사과
있거덩

In [ ]:
a='Hello World'
for i in a:
  if (i.isupper()):
    print(i.lower(),end="")
  else:
    print(i.upper(),end="")

hELLO wORLD

In [ ]:
a=int(input("점수를 입력하시오:"))
if 81<=a<=100:
  print("학점은 A입니다")
elif 61<=a<81:
  print("학점은 B입니다")
elif 41<=a<61:
  print("학점은 C입니다")
elif 21<=a<40:
  print("학점은 D입니다")
elif 0<=a<21:
  print("학점은 F입니다")
else:
  print("적절하지 않은 점수입니다")

점수를 입력하시오:18
학점은 F입니다

In [ ]:
x=int(input("x를 입력하시오:"))
y=int(input("y를 입력하시오"))
if x>1:
  if y>1:
    print("1사분면입니다")
  else:
    print("4사분면입니다")
elif y>1:
  print("2사분면입니다")
else:
  print("3사분면입니다")

x를 입력하시오:1
y를 입력하시오-5
3사분면입니다

In [ ]:
x=int(input("x를 입력하시오:"))
y=int(input("y를 입력하시오"))
z=int(input("z를 입력하시오:"))
if x<y and x<z:
  print("가장 작은수: %i" %x)
elif x<y:
  print("가장 작은 수는 %i" %z)
else:
  print("가장 작은 슈는 %i" %y)

x를 입력하시오:2
y를 입력하시오5
z를 입력하시오:11
가장 작은수: 2

In [ ]:
cat = int(input("고양이:"))
dog = int(input("강아지:"))
print(f"고양이의 주사위 숫자는 {cat}이고, 강아지 주사위 숫자는 {dog}입니다.")
if cat>dog:
  print("고양이 승")
elif dog>cat:
  print("강아지 승")
else:
  print("비김")

고양이:1
강아지:2
고양이의 주사위 숫자는 1이고, 강아지 주사위 숫자는 2입니다.
강아지 승

In [ ]:
a=input("주민번호:")
len = 12
total = 0
for i in range(len-1):
  mul = int(a[i])*(i+2)
  total += mul
if int(a[12])== 11-(total%11):
  print("유효한 주민번호")
else:
  print("무효한 주민번호")

주민번호:2345676587678
무효한 주민번호

In [ ]:
temp = 0
for a in range(1,11):
  temp = a+temp
print(temp)

55

In [ ]:
a = int(input())
for b in range(1,10):
  print(a,"x",b,"=",a*b)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
a=list(input())
for b in range(len(a)):
  if (b%2 == 0):
    print(a[b])
  else:
    pass

a,s,d,f
a
s
d
f

In [ ]:
for a in range(1, 31):
  if a%3 == 0:
    print(a)
  else:
    pass

3
6
9
12
15
18
21
24
27
30

In [ ]:
a=1
sum = 0
while a<=100:
  sum = sum + a
  a = a + 1
print(sum)

5050

In [ ]:
a=int(input("숫자를 입력하세요: "))
for b in range(1, 10):
  print(f"{a}x{b}={a*b}")

숫자를 입력하세요: 3
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

In [ ]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

for a in range(3):
  for b in range(0, 4):
    print(dongs[a], hos[b])

6209동 101호
6209동 102호
6209동 103호
6209동 104호
6208동 101호
6208동 102호
6208동 103호
6208동 104호
6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [ ]:
N = int(input())
if (1 <= N <= 200):
  for a in range(4):
    print("Hello World, BigPy!")

4
Hello World, BigPy!
Hello World, BigPy!
Hello World, BigPy!
Hello World, BigPy!

In [ ]:
dice = [1, 2, 3, 4, 5, 6]
for a in range(len(dice)):
  for b in range(len(dice)):
    if (dice[a]+dice[b]) == 6:
      print(dice[a], dice[b])

1 5
2 4
3 3
4 2
5 1

In [ ]:
a = 0
for i in range(1, 100):
  if i%2 != 0:
    print(i, end="")
    a = a + i
    if i != 99:
      print("+", end="")
print("=",a)

1+3+5+7+9+11+13+15+17+19+21+23+25+27+29+31+33+35+37+39+41+43+45+47+49+51+53+55+57+59+61+63+65+67+69+71+73+75+77+79+81+83+85+87+89+91+93+95+97+99= 2500

In [2]:
umseek = ["김치","치즈","스팸","김치찌개","탕수육","짜장면","돈까스","우동","샤브샤브","라면"]
print(umseek[4:7])

['탕수육', '짜장면', '돈까스']

In [10]:
giup=[]
for a in range(5):
  giup.append(input())

giup.reverse()
print(giup)

a
c
d
e
f
['f', 'e', 'd', 'c', 'a']

In [16]:
jumsoo=[["국어",],["수학",],["영어",]]
b=0
for a in range(3):
  c=int(input())
  jumsoo.insert(a,c)

for d in range(3):
  b = b+jumsoo[d][1]
jumsoo.append(b)

1
2
3

TypeError: ignored