<a href="https://colab.research.google.com/github/cheesss/python/blob/main/BIG_PY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[]
sum = 0
for i in range(5):
  b = int(input())
  a.append(b)
  sum = sum + a[i]
print("합:",sum)
print("평균:",sum/5)

1
5
2
7
4
합: 19
평균: 3.8

In [ ]:
import random
myungun = ["인생은 짧다","학기는 길다","방학은 짧다", "종강은 멀다"]
a = random.choice(myungun)
print("오늘의 명언:",a)

오늘의 명언: 종강은 멀다

In [ ]:
import random
s1=s2=s3=s4=s5=s6=0
dice =[1,2,3,4,5,6]
for a in range(1000001):
  b = random.choice(dice)
  if b==1:
    s1 += 1
  elif b==2:
    s2 += 1
  elif b==3:
    s3 += 1
  elif b==4:
    s4 += 1
  elif b==5:
    s5 += 1
  else:
    s6 += 1
print("s1, s2, s3, s4, s5, s6 출력횟수",s1,s2,s3,s4,s5,s6)

s1, s2, s3, s4, s5, s6 출력횟수 166575 166784 166873 167261 166401 166107

In [ ]:
a = []
b = int(input("입력받을 수 개수:"))
for i in range(b):
  a.append(int(input()))

while b!=0:
  print(a[b-1])
  b -= 1

입력받을 수 개수:3
1
2
3
3
2
1

In [ ]:
a = int(input("N*N의 N:"))
d = [[0] * a for b in range(a)]

for i in range(a):
  for j in range(a):
    d[i][j] = i*j
print(d)

N*N의 N:3
[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [ ]:
a = 5
list1 = []
for i in range(5):
  c = input("단어:")
  list1.append(c)

list2 = []
a2 = input("검색하고 싶은 문장 또는 단어:")
for i in list1:
  if a2 in i:
    list2.append(i)
  else:
    pass

if len(list2)==0:
  print("none")
else:
  print(list2)

단어:cho
단어:hoi
단어:qoe
단어:ah
단어:alo
검색하고 싶은 문장 또는 단어:234
none

In [ ]:
a = []
a = list(map(int, input().split()))
for i in range(len(a)):
  if a[i]%2 == 0:
    print(a[i]/2)
  else:
    print(a[i]*2)

123 234 34 4
246
117.0
17.0
2.0

In [ ]:
a = []
b = int(input("증가시키고 싶은 값:"))
for i in range(-10,11):
  a.append(i+b)
  
print(a)

증가시키고 싶은 값:-3
[-13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
a = []
a = list(map(int, input().split()))

i = len(a) - 1
while i !=1:
  print(a[i-1])
  i -= 1

1 2 3 4 5 6 7
6
5
4
3
2

In [ ]:
modelList = ["2018_GAMODEL001","2016_GAMODEL002","2015_ELMODEL001","2020_MODEL041","2020_MODEL022","2020_MODEL027","2020_MODEL055","2020_MODEL023"]

for a in range(len(modelList)):
  if int(modelList[a][3]) >= 9:
    if (int(modelList[a][14])+int(modelList[a][13]))%2 ==0:
      modelList[a] = "GAS_"+modelList[a]
    else:
      modelList[a] = "ELEC_"+modelList[a]
  elif modelList[a][5] == "G":
    modelList[a] = "GAS_"+modelList[a]
  else:
    modelList[a] = "ELEC_"+modelList[a]
print(modelList)

['GAS_2018_GAMODEL001', 'GAS_2016_GAMODEL002', 'ELEC_2015_ELMODEL001', 'ELEC_2020_MODEL041', 'ELEC_2020_MODEL022', 'ELEC_2020_MODEL027', 'ELEC_2020_MODEL055', 'ELEC_2020_MODEL023']

In [ ]:
name = {}
name["cho"] = "010-6543-5128"
print(name)

In [ ]:
!python /test.py

hello

In [ ]:
T=3
case = {}
for i in range(1,T+1):
  A = int(input())
  B = int(input())
  plus = A+B
  minus = A-B
  multiply = A*B
  divide  = A/B
  case_num = str("case#"+str(i))
  case[case_num] = plus, minus, multiply, divide
  print(case[case_num])

print(case)

43
23
(66, 20, 989, 1.8695652173913044)
12
43
(55, -31, 516, 0.27906976744186046)
53
3
(56, 50, 159, 17.666666666666668)
{'case#1': (66, 20, 989, 1.8695652173913044), 'case#2': (55, -31, 516, 0.27906976744186046), 'case#3': (56, 50, 159, 17.666666666666668)}

In [ ]:
ondo = {'요일':'최고기온','월' : '25,5','화':'28.3','수':'33.2','목':'32.1','금':'17.3','토':'35.3','일':'33.3'}
print(f'{ondo.keys()}')
print(ondo.values())

dict_keys(['요일', '월', '화', '수', '목', '금', '토', '일'])
dict_values(['최고기온', '25,5', '28.3', '33.2', '32.1', '17.3', '35.3', '33.3'])

In [ ]:
test_list = []
for i in range(2, 99, 2):
  test_list.append(i)

test_tuple = tuple(test_list)
print(test_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
A = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set_A=set(A)
list_A2=list(set_A)
print(list_A2)

[1, 2, 3, 4, 5]

In [ ]:
my_tuple = (0, 1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(list(my_tuple))

[0, 1, 2, 3, 4, 5]

In [ ]:
point = [[5,5],[5,7],[7,5]]
x = point[0][0] ^ point[1][0] ^ point[2][0]
y = point[0][1] ^ point[1][1] ^ point[2][1]
point.append([x,y])
print(point)

[[5, 5], [5, 7], [7, 5], [7, 7]]

In [ ]:
A = {32, 65, 34, 69, 53}
B = {32, 65, 34, 69}
if ((A > B) or (B > A)):
  print("집합 B는 A의 부분집합입니다")
  print(f'교집합은 {A&B}입니다')
  print(f'합집합은{A|B}입니다')
  List = sorted(list(A|B))
  print(f'합집합 정렬결과는 {set(List)}입니다')

집합 B는 A의 부분집합입니다
교집합은 {32, 65, 34, 69}입니다
합집합은{32, 65, 34, 69, 53}입니다
합집합 정렬결과는 {32, 65, 34, 69, 53}입니다

In [ ]:
def hi(name, age= ''):
  print(f'my name is {name}, age is{age}')

hi(name = 'cho')

my name is cho, age is

In [ ]:
def plus(n1,n2):
  res = n1+n2
  return res
  print(res, "입니다")

print(plus(486, 849))
#리턴이후에는 함수 내부코드가 더이상 실행되지 않는다.

1335

In [ ]:
def hi():
  n = input()
  print('h')
  print('m n i ',name,'!')

print('자')
hi()
print(n,'님 안녕')

SyntaxError: ignored

In [ ]:
def fun():
  global a,b
  a+=2
  b*=2
  print(a,b)

a,b = 5,10
for i in range(5):
  fun()
print(a,b)

7 20
9 40
11 80
13 160
15 320
15 320

In [ ]:
def print_with_smile(a):
  print(a,':D')

print_with_smile("안녕하세요")

안녕하세요 :D

In [ ]:
def print_upper_price(price):
  print(f'상한가는 {price*1.3}입니다')

print_upper_price(100)

상한가는 130.0입니다

In [ ]:
def print_arithmetic_operation(a, b):
  print(f'{a} + {b} = {a+b}')
  print(f'{a} - {b} = {a-b}')
  print(f'{a} * {b} = {a*b}')
  print(f'{a} / {b} = {a/b}')

print_arithmetic_operation(2,9)

2 + 9 = 11
2 - 9 = -7
2 * 9 = 18
2 / 9 = 0.2222222222222222

In [ ]:
def print_max(a,b,c):
  if (a>b):
    if(a>c):
      print(a)
    else:
      print(c)
  elif (b>c):
    print(b)
  else:
    print(c)
  
print_max(1,2,23)

23

In [ ]:
plus = lambda a,b:print(a+b)
plus(1,3)

4

In [ ]:
class Calculator:
  def __init__(self, val):
    self.value = 0
  def add(self, val):
    self.value += val

class Calculator1:
  
  def __init__(self , val):
    Calculator().__init__(self, 0)
    self.val = 0
  def minus(self, val):
    self.val -= val

In [ ]:
class car:
    speed = 0
    def upSpeed(self, value):
        self.speed += value
        print("현재 속도(슈퍼클래스) : %d" % self.speed)

class Sedan(car):
    def upSpeed(self, value):
        self.speed += value
        if self.speed > 150:
            self.speed = 150
        print("현재 속도(서브클래스) : %d" % self.speed)

class Truck(car):
    pass

sedan1, truck1 = None, None

truck1 = Truck()
sedan1 = Sedan()
print("트럭 ->", end = '')
truck1.upSpeed(200)
print("세단 ->", end = '')
sedan1.upSpeed(200)

트럭 ->현재 속도(슈퍼클래스) : 200
세단 ->현재 속도(서브클래스) : 150

In [ ]:
class bigpy:
  pass

In [ ]:
class Calculator:
	def __init__(self):
		self.value = 0
	
	def add(self,val):
		self.value += val

class UpgradeCalculator(Calculator):
  def minus(self, val):
    self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

In [ ]:
class Calculator:
	def __init__(self):
		self.value = 0

	def add(self, val):
		self.value += val

class MaxLimitCalculator(Calculator):
    
  def add(self, value):
    self.value += value
    if (self.value <= 100):
      print(f'저장된 값은 {self.value}입니다')
    else:
      self.value = 100
      print("값이 100을 넘습니다")

test_ins = MaxLimitCalculator()
test_ins.add(1000)
print(test_ins.value)

값이 100을 넘습니다
100

In [ ]:
class who:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

test_ins = who("철수",25,"남자")
print(test_ins.name)

철수

In [ ]:
class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = age
  
  def who(self):
      print(f'이름:{self.name}, 나이:{self.age}, 여자:{self.sex}')

me = Human("김영희", 25, "여자")
me.who()

이름:김영희, 나이:25, 여자:25

In [ ]:
class Circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    self.area = 2*3.14*self.radius
    print(f'원의 면적: {self.area}')

c1 = Circle(2)
c1.area()

원의 면적: 12.56

In [ ]:
class Shape:
  def __init__(self, length):
    self.length = length
  def area(self):
    return 0

class Square(Shape):
  def __init__(self, length):
    self.length = length

  def area(self):
    self.Square_Area = self.length**2
    return self.Square_Area
  
s1 = Square(13)
print(s1.area())

169

In [ ]:
class Bigpy : 
    def print(self) :
        print("Good Job")

hello = Bigpy()
hello.print()

Good Job

In [ ]:
import random

class Dice:
  def roll(self):
    face = random.randint(1, 6)
    print(face)

d1 = Dice()
d1.roll()

3

In [ ]:
class Calculator:
  def __init__(self, a,b,c,d,e):
    self.sum1 = a+b+c+d+e

  def sum(self):
    print(self.sum1)

  def avg(self):
    print((self.sum1)/5)

c1 = Calculator(1,2,3,4,5)
c1.sum()
c1.avg()

c2 = Calculator(6,7,8,9,10)
c2.sum()
c2.avg()

15
3.0
40
8.0

In [1]:
name = ["cho","lyn"]
a = " "
c = a.join(name)